{% extends '_base.html.twig' %}

{% block title %}User Recipes{% endblock %}

{% block main %}

    <h1>Welcome to your recipe profile page !</h1>

    <h2>Add a recipe</h2>
    <b>EXAMPLE: 1,'Chocolate Brownies','recipe.jpg','chocolate, kids, dessert','butter, sugar, chocolate','mix together and bake!'</b>
    <br>
    <p>
    <input type="text" name="add">
    <input type="submit" name="bttAdd" value="Add New">

    <h2>Remove a recipe</h2>
    <b>Just enter the recipe ID... i.e. 123'</b>
    <br>
    <input type="text" name="delete">
    <input type="submit" name="bttDelete" value="Delete">
    </p>
{% endblock %}