{# -------- attempt to retrieve object 'user' from inside the session #}
{% set user = app.session.get('user') %}

{# -------- attempt to retrieve item with key 'username' from object 'user' from inside the session #}
{% if user is defined %}
    {% if user['username'] is defined %}
        {% set username = user['username'] %}
    {% endif %}
{% endif %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import '../public/css/style.css';
    </style>
</head>
<body>
<!-- login header -->
<header>
    <!-- nav -->
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            {# --------- secure links - only if logged in ----------- #}
            {% if username is defined %}
                <li>
                    <hr>
                    <a href="admin/index">Recipe Tags</a>
                </li>

                <li>
                    <a href="admin/codes">My Recipes</a>
                </li>
            {% endif %}
            {#

            -- WANTED TO TEST IS USERNAME IS EQUAL TO "ADMIN" --


            {% if is_granted('admin') %}
                <h1>Delete user</h1>
                <b>Enter user ID: </b>
                <br>
                <input type="text" name="deleteUser">
                <input type="submit" value="Delete">
            {% endif %}
            #}
        </ul>
    </nav>
    <!-- login / logout -->
    <section>
        {% if username is defined %}
            You are logged in as: {{ username }}
            <br>
            <ul>
                <li>
                    <a href="/logout">logout</a>
                </li>
            </ul>
        {% else %}
            <ul>
                <li>
                    <a href="/login">login</a>
                </li>
            </ul>
        {% endif %}
    </section>
</header>
<hr>
{% block main %}
{% endblock %}
</body>
</html>
