{% extends '_base.html.twig' %}

{% block pageTitle %}home page{% endblock %}

{% block main %}

    <h1>Welcome - home page of a recipe sharing website website</h1>

    <p>
        Whats your favourite recipe?
    </p>

    <ul>
        <li>
            <a href="/list">list of all recipes</a>
        </li>
    </ul>

{% endblock %}